<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>jquery图片轮播, banner 原创</title>
    <!-- jQuery Script -->
    <link rel="stylesheet" href="css/bannerExhibition.css"/>

    <script src="assets/js/jquery-2.1.4.js"></script>
    <script src="js/module/angular.min.js"></script>
</head>
<body>
<div class="slider" id="slider" ng-app="mainApp" ng-controller="mainCtrl">
    <div class="slider-inner">
        <!--<div class="item" ng-repeat="beanRow in dataList" >-->
            <!--<img class="img" style="background: url('{{beanRow.bannerPic}}');">-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<img class="img" style="background: url('images/bannerexhibition/slide_1.jpg');">-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<img class="img" style="background: url('images/bannerexhibition/slide_2.jpg');">-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<img class="img" style="background: url('images/bannerexhibition/slide_3.jpg');">-->
        <!--</div>-->
    </div>
</div>
<script src="js/main/bannerExhibition.js"></script>

<script>

</script>

</body>
</html>
