<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <!-- 修改TODO 轮播图设定 修改为自己的menu link名称 -->
        <title>组织设定</title>
        <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
        <meta name="keywords" content="组织设定" />
        <meta name="description" content="组织设定" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="css/business.css" />

        <!-- basic styles -->

        <link href="js/module/ace/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="js/module/ace/css/font-awesome.min.css" />

        <!--[if IE 7]>
          <link rel="stylesheet" href="js/module/ace/css/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <link rel="stylesheet" href="js/module/ace/css/fontface.css" />
        <!-- ace styles -->

        <link rel="stylesheet" href="js/module/ace/css/ace.min.css" />
        <link rel="stylesheet" href="js/module/ace/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="js/module/ace/css/ace-skins.min.css" />

        <!--[if lte IE 8]>
          <link rel="stylesheet" href="js/module/ace/css/ace-ie.min.css" />
        <![endif]-->
        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <link rel="stylesheet" href="js/module/ace/css/chosen.css" />
        <script src="js/module/ace/js/ace-extra.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/module/ace/js/html5shiv.js"></script>
        <script src="js/module/ace/js/respond.min.js"></script>
        <![endif]-->


<style type="text/css">
#accordion .panel-heading {
    cursor: pointer;
}
#accordion .panel-body {
    padding:0px;
}
</style>



    </head>

    <body>
    <div th:include="../fragments/header :: topHeader"></div>
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>
            <div class="main-container-inner">
            <div th:include="../fragments/menu :: leftMenu"></div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                        </script>

                        <!-- 修改TODO 首页 轮播图类型  修改为自己的menu link名称 对应的href画面也要参考一下代码   -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="#">组织管理</a>
                            </li>
                            <li>
                                <a href="./organization.html" class="active">组织设定</a>
                            </li>
                        </ul><!-- .breadcrumb -->

                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="搜索 ..." class="nav-search-input" id="typeNameSelect" autocomplete="off" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- #nav-search -->
                    </div>


				    <div class="row-fluid">
				            <!-- start of sidebar -->
						<div class="panel-group col-md-2" id="accordion" role="tablist" aria-multiselectable="true" style="padding-top:65px;">
						  <div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="collapse-header-org" data-toggle="collapse" data-parent="#accordion" href="#collapse-body-org" aria-expanded="true" aria-controls="collapse-body-org">
						      <h4 class="panel-title">
						        <i class="glyphicon glyphicon-list"></i>组织机构
						      </h4>
						    </div>
						    <div id="collapse-body-org" class="panel-collapse collapse ${currentMenu == 'org' ? 'in' : ''}" role="tabpanel" aria-labelledby="collapse-header-org">
						      <div class="panel-body">
						            <select style="width:100%" onchange="location.href='org-list.do?partyStructTypeId=' + this.value">
						              <c:forEach items="${partyStructTypes}" var="item">
						              <option value="${item.id}" ${item.id == param.partyStructTypeId ? 'selected' : ''}>${item.name}</option>
						              </c:forEach>
						            </select>
						            <ul id="treeMenu" class="ztree"></ul>
						      </div>
						    </div>
						  </div>
						</div>
						      <!-- end of sidebar -->


				    </div>


                    <div class="page-content" ng-app="mainApp" ng-controller="mainCtrl">
                        <div class="row">
                            <h5 class="pink" style="margin-bottom: 30px;">
                                <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                                <button class="btn btn-xs btn-pink" type="button" ng-click="createModal()">
                                    <i class="icon-ok"></i>添加
                                </button>
                                <button class="btn btn-xs btn-pink" type="button" ng-click="deleteBatchModal()">
                                    <i class="icon-ok"></i>批量删除
                                </button>
                                <div id="warning-msg" class="alert alert-success" style="display:none;text-align: center;">
                                    <a href="#" class="close" data-dismiss="alert">
                                        &times;
                                    </a>
                                    <strong>操作成功！</strong>
                                </div>
                            </h5>

                            <!-- 修改TODO 检索条件修改为自己的检索条件，控件类型其他的都不能变更或者改动  -->
                            <div style="margin: 10px; margin-buttom:30px;">
                               <label><h5>轮播图：</h5></label>
                               <input type="text" placeholder="名称 ..." class="nav-search-input" autocomplete="off" name="bannerNameSeach"  />

                               <button class="btn btn-xs pull-right btn-purple "  type="button" ng-click="getViewDataList()">
                                    <i class="icon-search bigger-160"></i>查询
                               </button>
                            </div>

                            <!-- 修改TODO 根据数据库中的项目数，修改下面的值，然后操作。   -->
                            <div id="main-modal-list">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-checkable dataTable">
                                        <thead>
                                        <tr>
                                            <th class="center">
                                                <label>
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>
                                            <th ng-click="predicate = 'id'; reverse=!reverse"><a style="color: #707070;cursor: pointer;text-decoration:none;">id</a></th>
                                            <th ng-click="predicate = 'bannerName'; reverse=!reverse"><a style="color: #707070;cursor: pointer;text-decoration:none;">banner名称</a></th>
                                            <th>banner图片</th>
                                            <th>banner类型</th>
                                            <th>banner跳转链接</th>
                                            <th>是否启用</th>
                                            <th>banner显示顺序</th>
                                            <th>设置banner上显示的文本</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="beanRow in dataList | orderBy: predicate:reverse">
                                            <td class="center">
                                                <label>
                                                    <input ng-model="beanRow.checked" type="checkbox" class="ace"/>
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>{{ beanRow.id }}</td>
                                            <td>{{ beanRow.bannerName }}</td>
                                            <td>{{ beanRow.bannerPic }}</td>
                                            <td>{{ beanRow.bannerType }}</td>
                                            <td>{{ beanRow.bannerLink }}</td>
                                            <td ng-show="beanRow.startFlag==1">
                                              <small class='badge' style='background-color: #00a65a !important'>启用</small>
                                            </td>
                                            <td ng-show="beanRow.startFlag==2">
                                              <small class='badge' style='background-color: #f56954 !important'>禁用</small>
                                            </td>
                                            <td>{{ beanRow.bannerds }}</td>
                                            <td>{{ beanRow.bcontent }}</td>
                                            <td>
                                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" href="#" ng-click="viewModal(beanRow)">
                                                        <i class="icon-zoom-in bigger-130"></i>
                                                    </a>
                                                    <a class="green" href="#"  ng-click="editModal(beanRow)">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>

                                                    <a class="red" href="#"  ng-click="deleteModal(beanRow)">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <!-- 分页 -->
                                    <div class="fixed-table-pagination" style="display: block;">
                                        <div class="pull-left pagination-detail"><span class="pagination-info" style="float: left !important;margin: 20px 0;">每页显示条数：</span>
                                            <span class="page-list" style="float: left !important;margin: 15px 0;">
                                                <select ng-options="pageSize for pageSize in pageSizeList" ng-model="pageSize" ng-change="changePageSize(pageSize)">
                                                </select>
                                            </span>
                                        </div>
                                        <div class="fixed-table-pagination" style="display: block;">
                                            <div class="pull-right pagination">
                                                <ul class="pagination">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 分页结束 -->
                                </div>
                            </div>

                            <!-- 查看画面View画面 -->
                            <div id="modal-view" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>详细信息
                                            </div>
                                        </div>

                                        <!-- 修改TODO 根据数据库中的项目数，修改下面的值，然后操作。  以div为级别的copy操作..  -->
                                        <!-- 一览行的详细信息 -->
                                     <form class="modal-body no-padding" name="dataViewForm" novalidate>
                                        <div class="space-5"></div>
                                        <div class="modal-body no-padding">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner名称： </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable editable-click">{{dataView.bannerName}}</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner图片： </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable editable-click">{{dataView.bannerPic}}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner类型： </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable editable-click">{{dataView.bannerType}}</span>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner跳转链接： </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable editable-click">{{dataView.bannerLink}}</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner上显示的文本： </div>
                                                    <div class="profile-info-value">
                                                        <span class="editable editable-click">{{dataView.bcontent}}</span>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> 是否启用： </div>
                                                    <div class="profile-info-value">
                                                        <span ng-show="dataView.startFlag==1">
                                                          <small class="badge" style="background-color: #00a65a !important">启用 </small>
                                                        </span>
                                                        <span ng-show="dataView.startFlag==2">
                                                          <small class="badge" style="background-color: #00a65a !important">禁用 </small>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                     </form>
                                     <div class="space-5"></div>
                                        <div class="modal-footer no-margin-top">
                                            <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                                                <i class="icon-remove"></i>关闭
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                            <!-- 添加画面风格 -->
                            <!--modal-create-->
                            <div id="modal-create" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>新建
                                            </div>
                                        </div>

                                        <form class="modal-body no-padding" name="dataCreateForm" ng-submit="createRow(dataCreate,dataCreateForm.$valid)" novalidate>
                                            <div class="space-5"></div>
                                            <div class="profile-user-info profile-user-info-striped">
                                                <th></th>

                                                <!-- 修改TODO 根据数据库中的项目数，修改下面的值，然后操作。  以div为级别的copy操作..  -->

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner名称： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataCreate.bannerName" name ="bannerName" placeholder="banner名称" required />
                                                        <p style="color:red" ng-show="dataCreateForm.bannerName.$dirty && dataCreateForm.bannerName.$invalid">
                                                            <span ng-show="dataCreateForm.bannerName.$error.required">请填写banner名称</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner图片： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataCreate.bannerPic" name ="bannerPic" placeholder="banner图片" required />
                                                        <p style="color:red" ng-show="dataCreateForm.bannerPic.$dirty && dataCreateForm.bannerPic.$invalid">
                                                            <span ng-show="dataCreateForm.bannerPic.$error.required">请填写banner图片</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner类型： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataCreate.bannerType" name ="bannerType" placeholder="banner类型" required />
                                                        <p style="color:red" ng-show="dataCreateForm.bannerType.$dirty && dataCreateForm.bannerType.$invalid">
                                                            <span ng-show="dataCreateForm.bannerType.$error.required">请填写banner类型</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner跳转链接： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataCreate.bannerLink" name ="bannerLink" placeholder="banner跳转链接" required />
                                                        <p style="color:red" ng-show="dataCreateForm.bannerLink.$dirty && dataCreateForm.bannerLink.$invalid">
                                                            <span ng-show="dataCreateForm.bannerLink.$error.required">请填写banner跳转链接</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner上显示的文本： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataCreate.bcontent" name ="bcontent" placeholder="banner上显示的文本" required />
                                                        <p style="color:red" ng-show="dataCreateForm.bcontent.$dirty && dataCreateForm.bcontent.$invalid">
                                                            <span ng-show="dataCreateForm.bcontent.$error.required">请填写banner上显示的文本</span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> 是否启用： </div>
                                                    <div class="profile-info-value">
                                                        <label class="inline">
                                                            <input name="startFlag" ng-model="dataCreate.startFlag" type="radio" class="ace" value="1" ng-checked="true" />
                                                            <span class="lbl"> 启用 </span>
                                                        </label>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <label class="inline">
                                                            <input name="startFlag" ng-model="dataCreate.startFlag" type="radio" class="ace" value="2" />
                                                            <span class="lbl"> 禁用 </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-5"></div>
                                            <div class="modal-footer no-margin-top">
                                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                                    <i class="icon-remove"></i>取消
                                                </button>
                                                <button type="submit" class="btn btn-sm btn-success" ng-disabled="dataCreateForm.$invalid">
                                                    <i class="icon-ok"></i>确定
                                                </button>
                                            </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal create end -->

                            <!-- 修改TODO 根据数据库中的项目数，修改下面的值，然后操作。  以div为级别的copy操作..  -->
                            <!-- 编辑画面 -->
                            <!--modal-edit-->
                            <div id="modal-edit" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>编辑
                                            </div>
                                        </div>

                                        <form class="modal-body no-padding" name="dataEditForm" ng-submit="updateRow(dataEdit,dataEditForm.$valid)" novalidate>
                                            <div class="space-5"><input type="hidden" ng-model="dataEdit.id" name ="id" /></div>
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div style="margin: 10px;"></div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner名称： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataEdit.bannerName" name ="bannerName" placeholder="banner名称" required />
                                                        <p style="color:red" ng-show="dataEditForm.bannerName.$dirty && dataEditForm.bannerName.$invalid">
                                                            <span ng-show="dataEditForm.bannerName.$error.required">请填写banner名称</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner图片： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataEdit.bannerPic" name ="bannerPic" placeholder="banner图片" required />
                                                        <p style="color:red" ng-show="dataEditForm.bannerPic.$dirty && dataEditForm.bannerPic.$invalid">
                                                            <span ng-show="dataEditForm.bannerPic.$error.required">请填写banner图片</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner类型： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataEdit.bannerType" name ="bannerType" placeholder="banner类型" required />
                                                        <p style="color:red" ng-show="dataEditForm.bannerType.$dirty && dataEditForm.bannerType.$invalid">
                                                            <span ng-show="dataEditForm.bannerType.$error.required">请填写banner类型</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner跳转链接： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataEdit.bannerLink" name ="bannerLink" placeholder="banner跳转链接" required />
                                                        <p style="color:red" ng-show="dataEditForm.bannerLink.$dirty && dataEditForm.bannerLink.$invalid">
                                                            <span ng-show="dataEditForm.bannerLink.$error.required">请填写banner跳转链接</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> banner上显示的文本： </div>
                                                    <div class="profile-info-value">
                                                        <input type="text" ng-model="dataEdit.bcontent" name ="bcontent" placeholder="banner上显示的文本" required />
                                                        <p style="color:red" ng-show="dataEditForm.bcontent.$dirty && dataEditForm.bcontent.$invalid">
                                                            <span ng-show="dataEditForm.bcontent.$error.required">请填写banner上显示的文本</span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="profile-info-row">
                                                    <div class="profile-info-name"> 是否启用： </div>
                                                    <div class="profile-info-value">
                                                        <label class="inline">
                                                            <input name="startFlag" ng-model="dataEdit.startFlag" type="radio" class="ace" value="1" ng-checked="dataEdit.startFlag==1" />
                                                            <span class="lbl"> 启用 </span>
                                                        </label>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <label class="inline">
                                                            <input name="startFlag" ng-model="dataEdit.startFlag" type="radio" class="ace" value="2" ng-checked="dataEdit.startFlag==2" />
                                                            <span class="lbl"> 禁用 </span>
                                                        </label>
                                                    </div>
                                                </div>

                                            <div class="space-5"></div>
                                            <div class="modal-footer no-margin-top">
                                                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                                    <i class="icon-remove"></i>取消
                                                </button>
                                                <button type="submit" class="btn btn-sm btn-success" ng-disabled="dataEditForm.$invalid">
                                                    <i class="icon-edit"></i>确定
                                                </button>
                                            </div>
                                            </div>
                                        </form>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal edit end -->

                            <!-- 删除画面 -->
                            <div id="modal-delete" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>删除菜单提示！
                                            </div>
                                        </div>

                                        <div class="modal-body no-padding">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <p><span>您确认要删除菜单 </span><strong style="color: red;">{{dataDelete.bannerName}}</strong> 吗？</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer no-margin-top">
                                            <button class="btn btn-sm btn-info pull-left" data-dismiss="modal">
                                                <i class="icon-remove"></i>取消
                                            </button>
                                            <button class="btn btn-sm btn-danger" ng-click="deleteRow(dataDelete)">
                                                <i class="icon-trash"></i>删除
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal delete end -->


                            <!-- 批量删除画面 -->
                            <div id="modal-delete-rows" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>删除提示！
                                            </div>
                                        </div>

                                        <div class="modal-body no-padding">
                                            <div class="profile-user-info profile-user-info-striped">
                                                <div class="profile-info-row">
                                                    <p><span>您确认要批量删除 吗？</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer no-margin-top">
                                            <button class="btn btn-sm btn-info pull-left" data-dismiss="modal">
                                                <i class="icon-remove"></i>取消
                                            </button>
                                            <button class="btn btn-sm btn-danger" ng-click="deleteBatchRows()">
                                                <i class="icon-trash"></i>删除
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal delete end -->

                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->
                <div th:include="../fragments/setting :: setting"></div>
            </div><!-- /.main-container-inner -->

    <div th:include="../fragments/footer :: footer"></div>
        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <!--[if !IE]> -->

        <script src="js/module/ace/js/jquery-2.0.3.min.js"></script>

        <!-- <![endif]-->

        <!--[if IE]>
<script src="js/module/ace/js/jquery-1.10.2.min.js"></script>
<![endif]-->

        <!--[if !IE]> -->

        <script type="text/javascript">
            window.jQuery || document.write("<script src='js/module/ace/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='js/module/ace/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='js/module/ace/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="js/module/ace/js/bootstrap.min.js"></script>
        <script src="js/module/ace/js/typeahead-bs2.min.js"></script>

        <!-- page specific plugin scripts -->

        <!--<script src="js/module/ace/js/jquery.dataTables.min.js"></script>-->
        <!--<script src="js/module/ace/js/jquery.dataTables.bootstrap.js"></script>-->

        <!-- ace scripts -->
    <script src="js/module/ace/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/module/ace/js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/module/ace/js/chosen.jquery.min.js"></script>
    <script src="js/module/ace/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="js/module/ace/js/date-time/moment.min.js"></script>
    <script src="js/module/ace/js/bootstrap-colorpicker.min.js"></script>
    <script src="js/module/ace/js/jquery.knob.min.js"></script>
    <script src="js/module/ace/js/jquery.autosize.min.js"></script>
    <script src="js/module/ace/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="js/module/ace/js/jquery.maskedinput.min.js"></script>
    <script src="js/module/ace/js/bootstrap-tag.min.js"></script>
    <script src="js/module/ace/js/ace-elements.min.js"></script>
    <script src="js/module/ace/js/ace.min.js"></script>
    <script src="js/module/ace/js/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".chosen-select").chosen();
            $(".chosen-container").css("width","50%");
            $("#create_status").css("width","30%");
            $("#create_gender").css("width","30%");
            $("#create_status").css("width","30%");
            $("#create_gender").css("width","30%");
            $("#edit_status").css("width","30%");
            $("#edit_gender").css("width","30%");
        });
    </script>
    <script src="js/module/jqPaginator.min.js"></script>
    <script src="js/module/angular.min.js"></script>
    <script src="js/main/banner.js"></script>
<script type="text/javascript">
        var setting = {
            async: {
                enable: true,
                url: "rs/party/tree?partyStructTypeId=${partyStructType.id}"
            },
            callback: {
                onClick: function(event, treeId, treeNode) {
                    location.href = 'party/org-list.do?partyStructTypeId=${partyStructTypeId}&partyEntityId=' + treeNode.id;
                }
            }
        };

        var zNodes =[];

        $(function(){
            $.fn.zTree.init($("#treeMenu"), setting, zNodes);
        });
</script>

    <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
